.center{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  height: auto;
}


.buttonCentered{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;

}